<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/1movie.css">
</head>
<body>
    <div id="nav">
            <a href="/home">Home</h4>
            <a href="/watchlist">WatchList</a>
            <a href="/completed">Completed</a>
            <a href="/reviews">Reviews</a>
            <a href="/community">Community</a>
            <a href="/genres">Genres</a>
            <form id='search' action="/search">
                <input type="text" placeholder="Search Movies" name="Movies">
                <button type="submit" id="Go">Go</button>
            </form>
            <form id="login" action="/logout" method="post">
                <button id="loginbuttton" type="submit">Logout</button>
            </form>        
        </div>
        <div id="main">
            <div id="page1">
                <div id="movietitle">
            <% if (locals.movieDetails){ %>
            <h1><%=locals.movieDetails.TITLE%></h1>
        </div>
    <div id="moviepage">
        <div id="image-container">
                <img src="<%= locals.movieDetails.MOVIE_IMAGE_URL %>" alt="">
        </div>
        <div>
            <div>Language :<%= movieDetails.MOVIE_LANG %>  </div>
            <div>RunTime : <%=movieDetails.RUNTIME  %></div>
            <div>IMDB RATING : <%= movieDetails.IMDB_RATING %> </div>
            <div><p><%= movieDetails.SYNOPSIS %></p></div>
        </div>
        <div id="Actors">
            <h2>Actors </h2>

            <% if (locals.actors && locals.actors.length>0) { %>
                <% actors.forEach(actor =>{ %>
                    <div id="actname">
                        <%= actor.ARTIST_NAME %>
                    </div>
                <% }); %>
            <% }else{ %>
                <p>No Artist Involved</p>
            <% } %>            
        </div>
        <div id="director">
            <h2>Director</h2>
            <% if (locals.directors && locals.directors.length>0) { %>
                <% directors.forEach(director =>{ %>
                    <div id="dirname">
                        <%= director.ARTIST_NAME %>
                    </div>
                <% }); %>
            <% }else{ %>
                <p>No Director Involved</p>
            <% } %>

        </div>
        <div id="watchlistpage">
            <div id="watchlist">
                <form action="/watchlist/<%= movieDetails.MOVIE_ID %>">

                
                <button type="submit">Add to Watchlist</button>
                </form>
                <% if (locals.message1) { %>
                    <script>
                        alert("<%= message1 %>");
                    </script>
                <% } %>

            </div>
            <div id="watched">
                <form action="/watched/<%= movieDetails.MOVIE_ID%>">
                <button type="submit">Completed</button>
                </form>
                <% if (locals.message2) { %>
                    <script>
                        alert("<%= message2 %>");
                    </script>
                <% } %>
            </div>
        </div>
        <div id="review">
        <h3>Write Your Review here</h3>
            <form action="/submitReview/<%= movieDetails.MOVIE_ID%>">
                <input type="text" name="review" >
                <label for="score">Enter your score</label>
                <input type="number" name="score" min="1" max="10">
                <button type="submit">Enter</button>

            </form>
            <% if (locals.message3) {%>
                <script>
                    alert("<%=message3%>");
                </script>
            <% } %>
        </div>

    </div>
    <% } else { %>
        <p>Movie details not Available</p>
    <% } %>
            </div>
            </div> 
            <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js" integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
            <script src="/home.js"></script>
</body>
</html>